USE [CODE81_Asessment]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 6/27/2026 8:21:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6/27/2026 8:21:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/27/2026 8:21:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/27/2026 8:21:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6/27/2026 8:21:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6/27/2026 8:21:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 6/27/2026 8:21:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [int] NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 6/27/2026 8:21:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[DeletedAt] [datetimeoffset](7) NULL,
	[UpdatedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 6/27/2026 8:21:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[ISBN] [nvarchar](255) NOT NULL,
	[PublicationYear] [int] NOT NULL,
	[Language] [nvarchar](255) NOT NULL,
	[Edition] [nvarchar](255) NOT NULL,
	[Summary] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[CoverImageUrl] [nvarchar](max) NULL,
	[PublisherId] [int] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[DeletedAt] [datetimeoffset](7) NULL,
	[UpdatedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BooksAuthors]    Script Date: 6/27/2026 8:21:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BooksAuthors](
	[AuthorsId] [int] NOT NULL,
	[BooksId] [int] NOT NULL,
 CONSTRAINT [PK_BooksAuthors] PRIMARY KEY CLUSTERED 
(
	[AuthorsId] ASC,
	[BooksId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BooksCategories]    Script Date: 6/27/2026 8:21:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BooksCategories](
	[BooksId] [int] NOT NULL,
	[CategoriesId] [int] NOT NULL,
 CONSTRAINT [PK_BooksCategories] PRIMARY KEY CLUSTERED 
(
	[BooksId] ASC,
	[CategoriesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BorrowingTransactions]    Script Date: 6/27/2026 8:21:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BorrowingTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[CreatedById] [int] NOT NULL,
	[ReturnedById] [int] NULL,
	[BorrowDate] [datetimeoffset](7) NOT NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[ReturnDate] [datetimeoffset](7) NULL,
	[Status] [int] NOT NULL,
	[Notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_BorrowingTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/27/2026 8:21:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[ParentCategoryId] [int] NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[DeletedAt] [datetimeoffset](7) NULL,
	[UpdatedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LibraryMembers]    Script Date: 6/27/2026 8:21:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibraryMembers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](500) NULL,
	[MembershipStartDate] [datetimeoffset](7) NOT NULL,
	[MembershipEndDate] [datetimeoffset](7) NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[DeletedAt] [datetimeoffset](7) NULL,
	[UpdatedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_LibraryMembers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 6/27/2026 8:21:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Country] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[DeletedAt] [datetimeoffset](7) NULL,
	[UpdatedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Publishers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 6/27/2026 8:21:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TokenHashed] [nvarchar](max) NOT NULL,
	[TokenId] [nvarchar](max) NOT NULL,
	[ExpiresAt] [datetimeoffset](7) NOT NULL,
	[RevokedAt] [datetimeoffset](7) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLoginLogs]    Script Date: 6/27/2026 8:21:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLoginLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoginTime] [datetimeoffset](7) NOT NULL,
	[IsSuccess] [bit] NOT NULL,
	[IpAddress] [nvarchar](max) NULL,
	[UserAgent] [nvarchar](max) NULL,
	[Action] [nvarchar](max) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_UserLoginLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AspNetRoles] ON 

INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (1, N'Admin', N'ADMIN', N'4e6b27db-a351-4a14-8921-93c7e88cd750')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (2, N'Librarian', N'LIBRARIAN', N'404636b3-9a6c-42a1-881a-06b311d6542a')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (3, N'Staff', N'STAFF', N'4a5f96cb-f872-464d-86ed-1a29949781bb')
SET IDENTITY_INSERT [dbo].[AspNetRoles] OFF
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (1, 1)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (2, 3)
GO
SET IDENTITY_INSERT [dbo].[AspNetUsers] ON 

INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (1, N'admin', N'ADMIN', N'admin@library.com', N'ADMIN@LIBRARY.COM', 1, N'AQAAAAIAAYagAAAAEJifaL96u5g/BDQGhrwKdp1CED5JRP4ckr4StyvUqHm1tRL1BFd3Qxhy8eZJi8EUcQ==', N'XR4EXTDTTRRUQQQP2ORL332ZDVCWFRGT', N'408c334c-063f-4f48-9f0d-f553c3853b54', NULL, 0, 0, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[AspNetUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([Id], [Name], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (1, N'Robert C. Martin', CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[Authors] ([Id], [Name], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (2, N'Martin Fowler', CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[Authors] ([Id], [Name], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (3, N'Eric Evans', CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([Id], [Title], [ISBN], [PublicationYear], [Language], [Edition], [Summary], [Status], [CoverImageUrl], [PublisherId], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (1, N'Clean Code', N'1111111111111', 2008, N'English', N'1st', N'Best practices', 0, NULL, 1, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[Books] ([Id], [Title], [ISBN], [PublicationYear], [Language], [Edition], [Summary], [Status], [CoverImageUrl], [PublisherId], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (2, N'Refactoring', N'2222222222222', 2018, N'English', N'2nd', N'Improve code', 0, NULL, 2, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[Books] ([Id], [Title], [ISBN], [PublicationYear], [Language], [Edition], [Summary], [Status], [CoverImageUrl], [PublisherId], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (3, N'Domain-Driven Design', N'3333333333333', 2003, N'English', N'1st', N'DDD concepts', 1, NULL, 2, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
INSERT [dbo].[BooksAuthors] ([AuthorsId], [BooksId]) VALUES (1, 1)
INSERT [dbo].[BooksAuthors] ([AuthorsId], [BooksId]) VALUES (2, 2)
INSERT [dbo].[BooksAuthors] ([AuthorsId], [BooksId]) VALUES (1, 1002)
GO
INSERT [dbo].[BooksCategories] ([BooksId], [CategoriesId]) VALUES (1005, 1)
INSERT [dbo].[BooksCategories] ([BooksId], [CategoriesId]) VALUES (1005, 2)
INSERT [dbo].[BooksCategories] ([BooksId], [CategoriesId]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[BorrowingTransactions] ON 

INSERT [dbo].[BorrowingTransactions] ([Id], [MemberId], [BookId], [CreatedById], [ReturnedById], [BorrowDate], [DueDate], [ReturnDate], [Status], [Notes]) VALUES (3, 3, 1, 1, NULL, CAST(N'2026-06-27T04:13:30.3066667+00:00' AS DateTimeOffset), CAST(N'2026-07-04T04:13:30.3066667' AS DateTime2), NULL, 0, N'Active borrow')
INSERT [dbo].[BorrowingTransactions] ([Id], [MemberId], [BookId], [CreatedById], [ReturnedById], [BorrowDate], [DueDate], [ReturnDate], [Status], [Notes]) VALUES (4, 4, 2, 1, 1, CAST(N'2026-06-27T04:13:30.3066667+00:00' AS DateTimeOffset), CAST(N'2026-07-04T04:13:30.3066667' AS DateTime2), CAST(N'2026-06-27T04:13:30.3066667+00:00' AS DateTimeOffset), 1, N'Returned')
INSERT [dbo].[BorrowingTransactions] ([Id], [MemberId], [BookId], [CreatedById], [ReturnedById], [BorrowDate], [DueDate], [ReturnDate], [Status], [Notes]) VALUES (1002, 3, 5, 1, 1, CAST(N'2026-06-27T02:45:12.9861710+00:00' AS DateTimeOffset), CAST(N'1972-09-06T13:06:15.5320000' AS DateTime2), CAST(N'2026-06-27T02:45:41.9540197+00:00' AS DateTimeOffset), 1, N'Test Notes')
SET IDENTITY_INSERT [dbo].[BorrowingTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [ParentCategoryId], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (1, N'Programming', NULL, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[Categories] ([Id], [Name], [ParentCategoryId], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (2, N'Databases', 1, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[Categories] ([Id], [Name], [ParentCategoryId], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (3, N'Software Engineering', 1, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[LibraryMembers] ON 

INSERT [dbo].[LibraryMembers] ([Id], [FullName], [Email], [Phone], [Address], [MembershipStartDate], [MembershipEndDate], [Status], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (3, N'Ahmed Ali', N'ahmed@test.com', N'0100000000', N'Cairo', CAST(N'2026-06-27T01:12:08.6866667+00:00' AS DateTimeOffset), NULL, 0, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[LibraryMembers] ([Id], [FullName], [Email], [Phone], [Address], [MembershipStartDate], [MembershipEndDate], [Status], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (4, N'Sara Mohamed', N'sara@test.com', N'0111111111', N'Giza', CAST(N'2026-06-27T01:12:08.6866667+00:00' AS DateTimeOffset), NULL, 0, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[LibraryMembers] ([Id], [FullName], [Email], [Phone], [Address], [MembershipStartDate], [MembershipEndDate], [Status], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (1002, N'string', N'string', N'string', N'string', CAST(N'2026-06-27T02:27:11.0003741+00:00' AS DateTimeOffset), NULL, 0, CAST(N'2026-06-27T02:27:11.0002224+00:00' AS DateTimeOffset), NULL, NULL)
SET IDENTITY_INSERT [dbo].[LibraryMembers] OFF
GO
SET IDENTITY_INSERT [dbo].[Publishers] ON 

INSERT [dbo].[Publishers] ([Id], [Name], [Country], [Email], [Phone], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (1, N'OReilly', N'USA', N'contact@oreilly.com', N'123456', CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[Publishers] ([Id], [Name], [Country], [Email], [Phone], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (2, N'New', N'string', N'string', N'string', CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[Publishers] ([Id], [Name], [Country], [Email], [Phone], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (3, N'No Starch Press', N'USA', N'hello@nostarch.com', N'555666', CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Publishers] OFF
GO
SET IDENTITY_INSERT [dbo].[RefreshTokens] ON 

INSERT [dbo].[RefreshTokens] ([Id], [TokenHashed], [TokenId], [ExpiresAt], [RevokedAt], [UserId]) VALUES (1, N'$2a$11$TNFHAXGCdWja7n6lGUhlxO0JSnt3M.Y4LUKQi6OejmwC4prgsldJq', N'2f5eb866-d0ff-4802-83eb-1712c7a0d044', CAST(N'2026-07-04T01:34:02.1864939+00:00' AS DateTimeOffset), NULL, 1)
INSERT [dbo].[RefreshTokens] ([Id], [TokenHashed], [TokenId], [ExpiresAt], [RevokedAt], [UserId]) VALUES (2, N'$2a$11$5wsIVAqjvIdQCzdSqe7fG.Nw5E2H289qVunZE7D/dFwH3KSVXeM5i', N'17bf982f-d1d7-4423-92ad-df0642be899d', CAST(N'2026-07-04T01:34:52.5295343+00:00' AS DateTimeOffset), NULL, 1)
INSERT [dbo].[RefreshTokens] ([Id], [TokenHashed], [TokenId], [ExpiresAt], [RevokedAt], [UserId]) VALUES (3, N'$2a$11$0gAbfqAaDbBmMiiSDDFireyWpPfBoYtgInXVGJ8xV.VTUxeAUZL3y', N'cf3507fa-6c42-4bb2-9937-b0c56124473a', CAST(N'2026-07-04T01:35:04.7528937+00:00' AS DateTimeOffset), NULL, 1)
SET IDENTITY_INSERT [dbo].[RefreshTokens] OFF
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (N'') FOR [UserName]
GO
ALTER TABLE [dbo].[Authors] ADD  DEFAULT ('0001-01-01T00:00:00.0000000+00:00') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ('0001-01-01T00:00:00.0000000+00:00') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ('0001-01-01T00:00:00.0000000+00:00') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LibraryMembers] ADD  DEFAULT ('0001-01-01T00:00:00.0000000+00:00') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Publishers] ADD  DEFAULT ('0001-01-01T00:00:00.0000000+00:00') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Publishers_PublisherId] FOREIGN KEY([PublisherId])
REFERENCES [dbo].[Publishers] ([Id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Publishers_PublisherId]
GO
ALTER TABLE [dbo].[BooksAuthors]  WITH CHECK ADD  CONSTRAINT [FK_BooksAuthors_Authors_AuthorsId] FOREIGN KEY([AuthorsId])
REFERENCES [dbo].[Authors] ([Id])
GO
ALTER TABLE [dbo].[BooksAuthors] CHECK CONSTRAINT [FK_BooksAuthors_Authors_AuthorsId]
GO
ALTER TABLE [dbo].[BooksAuthors]  WITH CHECK ADD  CONSTRAINT [FK_BooksAuthors_Books_BooksId] FOREIGN KEY([BooksId])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[BooksAuthors] CHECK CONSTRAINT [FK_BooksAuthors_Books_BooksId]
GO
ALTER TABLE [dbo].[BooksCategories]  WITH CHECK ADD  CONSTRAINT [FK_BooksCategories_Books_BooksId] FOREIGN KEY([BooksId])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[BooksCategories] CHECK CONSTRAINT [FK_BooksCategories_Books_BooksId]
GO
ALTER TABLE [dbo].[BooksCategories]  WITH CHECK ADD  CONSTRAINT [FK_BooksCategories_Categories_CategoriesId] FOREIGN KEY([CategoriesId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[BooksCategories] CHECK CONSTRAINT [FK_BooksCategories_Categories_CategoriesId]
GO
ALTER TABLE [dbo].[BorrowingTransactions]  WITH CHECK ADD  CONSTRAINT [FK_BorrowingTransactions_AspNetUsers_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BorrowingTransactions] CHECK CONSTRAINT [FK_BorrowingTransactions_AspNetUsers_CreatedById]
GO
ALTER TABLE [dbo].[BorrowingTransactions]  WITH CHECK ADD  CONSTRAINT [FK_BorrowingTransactions_AspNetUsers_ReturnedById] FOREIGN KEY([ReturnedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[BorrowingTransactions] CHECK CONSTRAINT [FK_BorrowingTransactions_AspNetUsers_ReturnedById]
GO
ALTER TABLE [dbo].[BorrowingTransactions]  WITH CHECK ADD  CONSTRAINT [FK_BorrowingTransactions_Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[BorrowingTransactions] CHECK CONSTRAINT [FK_BorrowingTransactions_Books_BookId]
GO
ALTER TABLE [dbo].[BorrowingTransactions]  WITH CHECK ADD  CONSTRAINT [FK_BorrowingTransactions_LibraryMembers_MemberId] FOREIGN KEY([MemberId])
REFERENCES [dbo].[LibraryMembers] ([Id])
GO
ALTER TABLE [dbo].[BorrowingTransactions] CHECK CONSTRAINT [FK_BorrowingTransactions_LibraryMembers_MemberId]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Categories_ParentCategoryId] FOREIGN KEY([ParentCategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Categories_ParentCategoryId]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserLoginLogs]  WITH CHECK ADD  CONSTRAINT [FK_UserLoginLogs_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserLoginLogs] CHECK CONSTRAINT [FK_UserLoginLogs_AspNetUsers_UserId]
GO
